.email-confirmation-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f8ff;
    border-radius: 10px;
    text-align: center;
  }
  
  input, button {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    background-color: #5B95A1;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #5B95A1;
  }
  