.email-confirmation-container {
    max-width: 70%;
    margin: 0 auto;
    padding: 5%;
    background-color: #fff;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);

    border-radius: 10px;
    text-align: center;
  }
  
  input{

    margin-bottom: 3%;
    padding: 2.5%;
    font-size: 80%;
    width: 96%;
    border-radius: 3%;
    border: 1px solid #ccc;


  } button {
    margin-bottom: 3%;
    padding: 2.5%;
    font-size: 80%;
    width: 66%;
   
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #6BA6A6;
    color: white;
    cursor: pointer;
    
  }
  button:hover {
    background-color: #5a9393;
  }
  
