.body{
 
  height: 100%;
  margin-left: 30%;
    background-color: #ffffff; /* Light background for contrast */
    

}
  input{
    margin-bottom: 3%;
    padding: 2.5%;
    font-size: 80%;
    width: 50%;
    border-radius: 3%;
    border: 1px solid #6BA6A6;

    
  } button {
    margin-bottom: 3%;
    margin-top: 1%;
    width: 49%;
    border-radius: 8px; 
    background-color: #6BA6A6;
    color: white;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 8px;
   
  }
  button:hover {
    background-color: #5a9393;
  }
  .conf-msg{
    font-weight:normal;
  }
  
