/* Centering the container horizontally and vertically */
body, html {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}



.logo {
  width: 250px !important;
  height: auto;
  margin-bottom: 20px;
  position: relative;
  top: -80px; 
}

.logoIn {
  width: 250px !important;
  height: auto;
  margin-bottom: 20px;
  position: relative;
  top: -80px; 
}



.welcoming {
  font-size: 16px;
  color: #6BA6A6;
  margin-bottom: 40px;
  margin-top: -20px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); 

}

.black_p {
  color: black;
}

/* Input fields styling */
.input-container {
  position: relative;
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  margin-bottom: 10px;
}

/*.input-container {
  display: flex;
  align-items: center;
  width: 100%; 
  margin-bottom: 1rem;
}*/


/*.input-container input {
  width: 80%;
  padding: 10px 12px; 
  padding-left: 40px; 
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}*/

.input-container input {
  width: 250px;
  padding: 10px 12px; /* Adjusted padding for balance */
  padding-left: 40px; /* This ensures the space for the icon */
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.input-container i {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 18px;
  color: #6BA6A6;
}

.forgot-password {
  margin-bottom: 1.5rem;
text-align: center;
font-size: 80%;
}

.forgot-password a {
  color: #6BA6A6;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}

/* Button styling */
.login-button {
  background-color: #6BA6A6;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 50%;
  font-size: 16px;
}

.login-button:hover {
  background-color: #5a9393;
}

/* Error message */
.error-message1 {
  color: red;
  font-size: 14px;}

 
  