/* Logo styling at the top */
.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.website-logo {
  width: 120px; /* Adjust the size as needed */
  height: auto;
  margin-bottom: 70px
}

/* Page styling */
.preference-page {
  font-weight: normal;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 8;
  padding: 2px;
  background-color: #ffffff;
  
 
  text-align: center;
}
.preference-page h2 {
  color: #4a4a4a;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: normal;
}

/* Error message styling */
.error-message {
  color: red;
  margin-bottom: 15px;
  font-size: 14px;
}

/* Styling for the topics grid */
.topics-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 40px;
  justify-content: center;
}

/* Individual topic item styling */
.topic-item {
  background-color: #83cdcd;
  color: white;
  padding: 9px 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.topic-item:hover {
  background-color: #5a9393;
}

.topic-item.selected {
  background-color: #5a9393;
}

/* Article input section */
.article-section {
  margin-top: 10px;
}

.article-section h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #4a4a4a;
  font-weight: normal;
}

textarea {
  width: 70%;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  box-sizing: border-box;
  resize: vertical;
  margin-bottom: 8px;
}

/* Buttons styling */
.buttons {
  display: flex;
  justify-content: center;
}

.submit-btn {
  font-weight: normal;
  font-size: 17px;
  background-color: #6ba6a6;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  width: 20%;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #5a9393;
}
