/* Modal styling */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    
    
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    max-width: 90%;
    text-align: center;
    
  }
  
  .topics-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0;
  }
  
  .topic-item {
    background-color: #83cdcd;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .topic-item:hover {
    background-color: #c0c0c0;
  }
  
  .topic-item.selected {
    background-color: #5a9393;
    color: white;
  }
  
  .article-section {
    margin-top: 20px;
  }
  
  textarea {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    
  }
  
  
  
  .submit-btn {
    margin-bottom: 3%;
    width: 40%;
    border-radius: 8px; 
    background-color: #6BA6A6;
    color: white;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 8px;
  }
  
 
  
  .submit-btn:hover {
    background-color: #4b818c;
  }
  

  .pre-msg{
    font-weight: normal;
  }