.logo {
    width: 250px !important;
    height: auto;
    margin-bottom: 20px;
    position: relative;
    top: -80px; /* Moves the logo upwards */
  }

.profile-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .profile-header {
    background-color: #2e7684;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
 
  /* Button styling */
  .edit-profile-btn {
    background-color: #6BA6A6;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 50%;
    font-size: 16px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3); 
  }
  
  .edit-profile-btn:hover {
    background-color: #5a9393;
  }
  
  .user-info {
    margin-top: 20px;
  }
  
  .previous-articles {
    margin-top: 20px;
  }
  
  .previous-articles ul {
    list-style-type: none;
    padding: 0;
  }
  
  .previous-articles li {
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }
  