.title {
  font-size: 20px;
  color: #000;
  margin-bottom: 20px;
  margin-top: -20px;
position: relative;
top: -10px;
}

.label{
  font-size: 90%;
  margin-bottom: 8px;
  text-align: left; /* Aligns the label and input to the left */
margin-right: 18%;
}

.hint{
  font-size: 77%;
  text-align: left;
  color: rgb(67, 67, 67);
  margin-top: -4%;
  margin-right: 8%;
  margin-bottom: 8%;
}





.sendLink-button{
  background-color: #6BA6A6;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 150px;
  font-size: 16px;
  margin-top: 20%;
}


.reset-button{
  width: 150px;
  position: relative;
top: 15px;
}
/**************************************************passaValidation*/
.validation-checklist {
  list-style: none;
  padding: 0;
  margin-top: -12px;
  text-align: left;
}

.validation-checklist li {
  font-size: 14px;
  color: gray;
}

.validation-checklist .valid {
  color: green;
}

.validation-checklist .invalid {
  color: red;
}

.success-message {
  color: green;
  font-size: 14px;
  white-space: pre-line; /* Allow text to break into multiple lines */
  position: relative;
  top: 10px;
margin-top: -9%;
margin-bottom: -5%;
}

.success-message {
  color: green;
  font-size: 14px;
  position: relative;
  top: 24px;
margin-top: -9%;
margin-bottom: -5%;
}


.success-message2 {
  color: green;
  font-size: 14px;
  margin-top: -6%;
  margin-bottom: 0%;;
}

.error-message2 {
  color: red;
  font-size: 14px;
  margin-top: -6%;
  margin-bottom: 0%;}

