
    .continue-button {
        padding: 10px 10px;  /* Increase padding for bigger button */
        font-size: 15px;  /* Increase font size */
        width: 60%;  /* You can adjust the width as needed */
      }
