.title {
  font-size: 20px;
  color: #000;
  margin-bottom: 20px;
  margin-top: -20px;
position: relative;
top: -10px;
}


.hint{
  font-size: 13px;
  text-align: left;
  color: rgb(67, 67, 67);
  margin-top: 10px;
  margin-left: 14px;
  margin-bottom: 1rem;
}


.sendLink-button{
  background-color: #6BA6A6;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 150px;
  font-size: 16px;
  margin-top: 4vh;
}



.success-message1 {
  color: green;
  font-size: 14px;
  margin-bottom: -1rem;}

.error-message-reset{
  color: red;
  font-size: 14px;
  margin-bottom: -1rem;}



.reset-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    max-width: 400px;
}


.logoIn1 {
  width: 200px ;
  height: auto;
  margin-bottom: 3.5em;
  position: relative;
  top: -80px; 
}




