/* Ensure body and html take up the full height and center the content */
body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 10px;
  box-sizing: border-box;
}

/* Form styling for responsiveness and centering */
form {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  border-radius: 10px;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

/* Uniform styling for inputs and dropdown */
form input, form select {
  margin-bottom: 15px;
  padding: 12px;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #6BA6A6;
  background-color: #fffcfc;
  box-sizing: border-box; /* Ensures consistent padding and width */
 
}

/* Select styling */
form select {
  appearance: none; /* Removes default arrow for custom styling */
  background-color: #fffcfc;
}

/* Button styling */
.signup-btn {
  width: 70%;
  border-radius: 8px; 
  background-color: #6BA6A6;
  color: white;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 8px;
}

.signup-btn:hover {
  background-color: #5a9393;
}

.sigi {
  font-size: 24px;
  margin-bottom: 10px;
  color: #000000;
  font-weight: normal;
}

.creation {
  font-size: 16px;
  margin-bottom: 20px;
  color: #6BA6A6;
  text-align: center;
}

/* Responsive design for smaller screens */
@media (max-width: 480px) {
  form {
    padding: 15px;
  }
  .signup-btn {
    width: 100%;
  }
}
