/* Make sure body and html are full height and center the container */
body, html {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-up-container {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
}

/* Input fields styling */
.sign-up-container input {
  margin-bottom: 15px;
  padding: 10px;
  width: 80%;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Button styling */
.sign-up-container button {
  background-color: #6BA6A6;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 50%;
  font-size: 16px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3); 
}

.sign-up-container button:hover {
  background-color: #5a9393;
}

/* Error message styling */
.sign-up-container .error-message {
  color: red;
  font-size: 14px;
}
h5{
  color: #5a9393;
}
