/* Basic Styling */
.tutorial-page {
    padding: 15px;
    text-align: center;
    border: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    transition: background-color 0.3s, color 0.3s;
    position: relative;
    overflow: hidden;
  }
  
  .tutorial-page.dark-mode {
    background-color: #121212; /* Dark mode background */
    color: #e0e0e0; /* Light text color */
  }
  
  /* Step Container */
  .step-container {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 700px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    transition: all 0.3s;
    border-color: #5b95a1;
  }
  
  .step-container img {
    width: 90%;
    max-width: 600px;
    height: auto;
    margin-bottom: 15px;
    border-radius: 10px;
  }
  
  .step-container h2 {
    font-size: 26px;
    margin-bottom: 10px;
    color: #4d8089; /* Light color for title */
    transition: color 0.3s;
    font-size: bold;
  }
  
  .step-description {
    font-size: 18px;
    line-height: 1.5;
    color: #23383d; /* Light color for text */
    height: 100px; 
    overflow-y: auto;
    padding: 10px;
    margin-top: 15px;
    transition: color 0.3s;
  }
  
  .dark-mode .step-description {
    color: darkgray; /* Ensure text is visible in dark mode */
  }
  
  /* Buttons */
  .next-button, .previous-button {
    background-color: #5b95a1; /* Suitable color for dark mode */
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 20px;
    width: 120px;
    padding: 20px;
font-style: bold;
    margin: 20px;
  }
  
  .previous-button:disabled {
    background-color: #e0e0e0;
  }
  
  .next-button:hover, .previous-button:hover {
    background-color: #4a7c87;
  }
  
  .dark-mode .next-button, .dark-mode .previous-button {
    background-color: #5b95a1; /* Dark mode suitable color */
  }
  
  .dark-mode .next-button:hover, .dark-mode .previous-button:hover {
    background-color: #4a7c87;
  }
   
  .dark-mode .step-container {
    color: #e0e0e0;
    background-color: #1e1e1e;

  }
  .dark-mode .step-container h2{
color: darkgray;
  }
  
  /* Progress Indicator */
  .progress-indicator {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    transition: background-color 0.3s;
  }
  
  .dot.active {
    background-color: #83cdcd;
  }
  
  /* Media Queries for Responsive Design */
  
  /* For small devices like phones (max-width: 600px) */
  @media (max-width: 600px) {
    .tutorial-page {
      padding: 10px;
    }
  
    .step-image {
      width: 90%;
      max-width: 100%;
    }
  
    .step-description {
      font-size: 16px;
    }
  
    .next-button, .previous-button {
      width: 40%; 
      padding: 12px 16px; 
      font-size: 18px;
    }
  
    .progress-indicator {
      margin-top: 15px;
    }
  
    .dot {
      width: 8px;
      height: 8px;
    }
  }
  
  /* For medium devices like tablets (max-width: 768px) */
  @media (max-width: 768px) {
    .step-image {
      width: 85%;
    }
  
    .step-description {
      font-size: 17px;
    }
  
    .next-button, .previous-button {
      width: 90%;
      padding: 12px 0;
      font-size: 18px;
    }
  }
  
  /* For large devices (max-width: 1024px) */
  @media (max-width: 1024px) {
    .step-image {
      width: 80%;
    }
  
    .step-description {
      font-size: 18px;
    }
  
    .next-button, .previous-button {
      width: 80%;
      padding: 12px 0;
      font-size: 18px;
    }
  }